h2{
    font-size: 50px;%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    width: 40%;
    
}

#btnacessar {
    color: rgb(249, 249, 249);
    background-color: rgba(0, 162, 255, 0.533);
}

#cxNumero {
    color: #fff;
    background-color:rgba(0, 208, 255, 0.533);
    width: 14%;
}